replicaCount: 1

image:
  repository: anhle3532/k8s-begining
  tag: latest
  pullPolicy: Always

service:
  http:
    port: 8000
  grpc:
    port: 9000
  type: ClusterIP

config:
  enabled: true
  files:
    config.yaml: |
      server:
        http:
          addr: 0.0.0.0:8000
          timeout: 5s
        grpc:
          addr: 0.0.0.0:9000
          timeout: 5s

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

env: {}

secret: {}

ingress:
  enabled: false
  host: ""
