apiVersion: v1
kind: Service
metadata:
    name: {{ include "k8s-beginning.fullname" . }}
spec:
    type: {{ .Values.service.type }}
    ports:
        - name: http
          port: 8000
          targetPort: http
        - name: grpc
          port: 9000
          targetPort: grpc
