apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
# Config from kratos config.yaml
configMapGenerator:
  - name: k8s-begining-config
    files:
      - config.yaml
# Patch changes number of replicas and image tag
patches:
  - target:
      kind: Deployment
      name: k8s-begining-service
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
server:
  http:
    addr: 0.0.0.0:8000
    timeout: 1s
  grpc:
    addr: 0.0.0.0:9000
    timeout: 1s
data:
  database:
    driver: pgx
    source: postgres://anh_admin:anh_admin@postgres-service:5432/anh_k8s_db?sslmode=disable
  redis:
    addr: redis-service:6379
    read_timeout: 0.2s
    write_timeout: 0.2s
