apiVersion: k8s-begining/v1
kind: Kustomization
resources:
  - ../../base
# Config from kratos config.yaml
configMapGenerator:
  - name: k8s-begining-config
    files:
      - config.yaml
# Patch changes number of replicas and image tag
patches:
  - target:
      kind: Deployment
      name: k8s-begining-service
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
