apiVersion: v1
kind: ConfigMap
metadata:
  name: k8s-begining-config
data:
  configs.yaml: | # Mount Kratos configs/internal/service configs
    server:
      http:
        addr: 0.0.0.0:8000
      grpc:
        addr: 0.0.0.0:9000
    data:
      database:
        driver: pgx
        source: postgres://anh_admin:anh_admin@postgres:54444/anh_k8s_db?sslmode=disable
