{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
    name: {{ include "k8s-begining.fullname" . }}
    annotations:
        kubernetes.io/ingress.class: traefik
spec:
    rules:
        - host: {{ .Values.ingress.host }}
          http:
            paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                        name: {{ include "k8s-begining.fullname" . }}
                        port:
                            number: {{ .Values.service.http.port }}
{{- end }}
