name: Deploy to k8s

on:
    push:
        branches:
            - "main"

jobs:
    deploy:
        runs-on: self-hosted
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Deploy to k8s
              run: |
                  export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
                  kubectl apply -k services/k8s-begining/overlay/dev
                  kubectl rollout status deployment/k8s-begining-service
