k8s-begining:
  image:
    tag: dev-f573493

  service:
    type: LoadBalancer

  config:
    enabled: true
    files:
      config.yaml: |
        server:
          http:
            addr: 0.0.0.0:8000
            timeout: 1s
          grpc:
            addr: 0.0.0.0:9000
            timeout: 1s
        data:
          database:
            driver: pgx
            source: postgres://anh_admin:anh_admin@postgres:5432/anh_k8s_db?sslmode=disable
          redis:
            addr: redis:6379
            read_timeout: 0.2s
            write_timeout: 0.2s
        log:
          level: debug
